@model IEnumerable<Core.Entities.Models.Categories>
@{
	ViewData["Title"] = "Categories";
}

<h1>Categories</h1>
<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="ItemTranTable">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Created Date</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@String.Format("{0:f}", item.CreatedDate);
				</td>
				<td>
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<br />
<partial name="~/Views/Home/_bootstrapAlert.cshtml" />


